services:
  traefik:
    container_name: traefik
    image: traefik:latest
    restart: always
    ports:
      - 443:443
      - 54:54/udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik:/traefik
    command:
      - --api.dashboard=false
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.https.address=:443
      - --entrypoints.wireguard.address=:54/udp
      - --providers.docker.endpoint=unix:///var/run/docker.sock
      - --certificatesresolvers.rsv.acme.tlschallenge=true
      - --certificatesresolvers.rsv.acme.email=${CFEMAIL}
      - --certificatesresolvers.rsv.acme.storage=/traefik/acme.json
      #- --certificatesresolvers.rsv.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --serverstransport.insecureskipverify=true
      - --accesslog.filepath=/traefik/logs/access.log
      - --accesslog.fields.headers.names.User-Agent=keep
      - --log.level=INFO
    read_only: true
    security_opt:
    - no-new-privileges:true
    logging:
        driver: "json-file"
        options:
          max-file: "5"
          max-size: "10m"
  wg:
    build: ./app
    container_name: wg
    volumes:
      - wireguard:/etc/wireguard
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
      - WG_HOST=${DOMAIN}
      - PASSWORD=${WG_PASSWORD}
      - PORT=51821
      - WG_PORT=54
      - WG_DEFAULT_ADDRESS=10.11.x.y
      - WG_PERSISTENT_KEEPALIVE=25
      # - WG_DEFAULT_DNS=1.1.1.1
      # - WG_MTU=1420
      - WG_ALLOWED_IPS=10.11.0.0/16
      - UI_TRAFFIC_STATS=false
      - UI_CHART_TYPE=0
      - LANG=en
    labels:
      - traefik.enable=true
      - traefik.http.routers.wg-https.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.wg-https.entrypoints=https
      - traefik.http.routers.wg-https.tls=true
      - traefik.http.routers.wg-https.tls.certresolver=rsv
      - traefik.http.routers.wg-https.tls.domains[0].main=${DOMAIN}
      - traefik.http.routers.wg-https.service=wg
      - traefik.http.services.wg.loadbalancer.server.port=51821
      - traefik.udp.routers.wg-router.entrypoints=wireguard
      - traefik.udp.services.wg-router.loadbalancer.server.port=54
    logging:
        driver: "json-file"
        options:
          max-file: "5"
          max-size: "10m"

volumes:
  wireguard:
    name: wireguard
  traefik:
    name: traefik
